@import "variables.less";

@purple: #b16286;
@light-purple: #d3869b;
@light-purple2: #EC85BA;

@green1: #7bb092;
@gray1: #a2a2a2;

// nav / footer border
@nav-border-color: fade(@gray1, 0%);
@footer-border-color: @sidebar-bg-dark-theme;

// Links
@link-color: @gray1;
@link-hover-color: @green1;

// Tag cloud
@tag-bg: fade(@gray1, 80%);
@tag-hover-color: fade(@green1, 44%);

// Buttons
@btn-bg: fade(@gray1, 80%);
@btn-hover-color: fade(@green1, 44%);

//@body-bg: #cce5ff;
//@body-bg: #cdffff;
//@body-bg: #cdffd5;
//@body-bg: #dfffcd; // #dfffcd That's pretty solid :)

@body-bg: #f9f5d7; // That's anubis light theme :)

@github-bg-color: Transparent ~'!important';
@youtube-bg-color: Transparent ~'!important';

@text-color: #717171;

body {
  color: @text-color;
}

p {
  color: @text-color;
}

//Link color stuff START
a {
  color: @link-color;
  text-decoration: none;
  //text-shadow: 0 0 4px #b10ced;
}

a:hover {
  color: @link-hover-color;
}

aside
{
  background-color: @body-bg-dark-theme ~'!important';
  border-right: unset;
}

@media screen and (min-width: 768px) {
    aside {
    	border-right: solid ~'!important';
    	border-right-width: 1px ~'!important';
  	border-right-color: @footer-border-color ~'!important';
  	border-right: solid;
    }
}

aside a
{
  color: @link-color ~'!important';
}

aside a:hover
{
  color: @link-hover-color ~'!important';
}

hr {
  background-color: transparent ~'!important';
}


main {
  article {
    img {
      border-radius: 25px;
      //border: 5px solid @link-color;
      box-shadow: 0 0 5px fade(@white, 71%) ~'!important';
    }

    img:hover {
      box-shadow: 0 0 30px fade(@white, 71%) ~'!important';
    }
     video {
      border-radius: 25px;
      //border: 5px solid @link-color;
      box-shadow: 0 0 5px fade(@white, 71%) ~'!important';
    }

    video:hover {
      box-shadow: 0 0 30px fade(@white, 71%) ~'!important';
    }
  }
}

main nav {
  border-bottom-color: @nav-border-color;
}

blockquote, pre {
  border-left: 8px solid @sidebar-bg-dark-theme ~'!important';
}

pre {
  //background-color: transparent ~'!important';
  border-left-color: transparent ~'!important';
}

.tag-cloud {
  a {
    background-color: @tag-bg;
    color: @tag-text-color;
  }

  a:hover {
    background-color: @tag-hover-color;
  }
}

//Link color stuff END

// Button color stuff START
a.btn,
section#isso-thread section.auth-section p.post-action input {
  background-color: @btn-bg;
  color: @btn-text-color;
}

a.btn:hover {
  background-color: @btn-hover-color;
}

// Button color stuff END

/*This is for the ` ` code*/
:not(pre) > code {
  color: white ~'!important';
  background-color: black ~'!important';
}

/*Stork Search START*/
.stork a:link,
.stork a:visited {
  color: @purple ~'!important';
}

.stork-output-visible {
  border: 1px solid fade(@light-grey, 22%) ~'!important';
  background-color: @solid-dark ~'!important';
}

.stork-input {
  color: @light-grey;
  background-color: @solid-dark;
  border: 1px solid fade(@light-grey, 22%) ~'!important';
}

.stork-excerpt-container {
  color: @light-grey;
}

.stork .stork-close-button {
  background-color: transparent;
}
/*Stork Search END*/


// Summary START
summary::marker {
  color: @btn-text-color;
}

//summary::after {
//  background-color: @yellow;
//}

//summary:hover {
//  background-color: @btn-hover-color;
//}

details[open] > summary {
  background-color: @btn-hover-color;
}


summary {
  background-color: @btn-bg;
  color: @btn-text-color;;
}
// Summary END

#light-theme-btn {
    display: inherit;
}

#dark-theme-btn {
    display: none;
}

#cookie-consent-popup {
  color: @text-color;
  border-top: 2px solid @link-color;
  border-left: 2px solid @link-color;
}

#cookie-consent-popup a {
  color: @link-color;
}
