@import "variables.less";

@red: #b07b7b;
@green1: #7bb092;

@sidebar-bg: @red;

// Links
@link-color: @red;
@link-hover-color: @green1;

// Tag cloud
@tag-bg: @red;
@tag-hover-color: @green1;

// Buttons
@btn-bg: fade(@red, 80%);
@btn-hover-color: fade(@green1, 44%);

//@body-bg: #cce5ff;
//@body-bg: #cdffff;
//@body-bg: #cdffd5;
@body-bg: #dfffcd; // #dfffcd That's pretty solid :)

@github-bg-color: Transparent;
@youtube-bg-color: Transparent;

aside div img
{
  border-radius: unset ~'!important';
}


/*Code Block > START */
.highlight {
  background: transparent ~'!important';
}

blockquote {
  background-color: transparent ~'!important';
}

pre {
  background-color: transparent ~'!important';
  border-left-color: transparent ~'!important';
}

/*This is for the ` ` code*/
:not(pre) > code {
  color: black ~'!important';
  background-color: #f1ff90 ~'!important';
}

/*Code Block > END */

/*Stork Search START*/
.stork a:link,
.stork a:visited {
  color: @white ~'!important';
}

.stork-output-visible {
  border: 1px solid @white ~'!important';
  background-color: @red ~'!important';
}

.stork-input {
  color: @white;
  background-color: @red;
  border: 1px solid @white ~'!important';
}

.stork-excerpt-container {
  color: @white;
}

.stork .stork-close-button {
  background-color: transparent;
  color: @white ~'!important';
}

/*Stork Search END*/





