@import "variables.less";

@red: #b07b7b;
@green1: #7bb092;

@sidebar-bg: @red;

// Links
@link-color: @red;
@link-hover-color: @green1;

// Tag cloud
@tag-bg: fade(@red, 80%);;
@tag-hover-color: fade(@green1, 44%);;

// Buttons
@btn-bg: fade(@red, 80%);
@btn-hover-color: fade(@green1, 44%);

//@body-bg: #cce5ff;
//@body-bg: #cdffff;
//@body-bg: #cdffd5;
@body-bg: #dfffcd; // #dfffcd That's pretty solid :)

@github-bg-color: Transparent;
@youtube-bg-color: Transparent;

aside div img
{
  border-radius: unset ~'!important';
}


/*Code Block > START */
.highlight {
  background: transparent ~'!important';
}

blockquote {
  background-color: transparent ~'!important';
}

pre {
  background-color: transparent ~'!important';
  border-left-color: transparent ~'!important';
}

/*This is for the ` ` code*/
:not(pre) > code {
  color: black ~'!important';
  background-color: #f1ff90 ~'!important';
}

/*Code Block > END */

/*Stork Search START*/
.stork a:link,
.stork a:visited {
  color: @white ~'!important';
}

.stork-output-visible {
  border: 1px solid @white ~'!important';
  background-color: @red ~'!important';
}

.stork-input {
  color: @white;
  background-color: @red;
  border: 1px solid @white ~'!important';
}

.stork-excerpt-container {
  color: @white;
}

.stork .stork-close-button {
  background-color: transparent;
  color: @white ~'!important';
}
/*Stork Search END*/


//Summary START
summary::marker {
  color: @btn-text-color;
  font-size: 1.2em;
}

//summary:hover {
//  background-color: @btn-hover-color;
//}

details[open] > summary {
  background-color: @btn-hover-color;
}

summary {
  display: inline flow-root list-item;
  padding: 0.1em 0.1em 0.1em 0.8em;
  background-color: @btn-bg;
  color: @btn-text-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: .25em;
  margin-bottom: 20px;
  font-size: 0.8em;
}

//summary::after {
//  content: '';
//  width: 20px;
//  height: 20px;
//  background: url('https://lukas.read-books.org/nextcloud/index.php/s/wL4cqnFKff5ZcNB/preview') no-repeat;
//  //color: @green1;
//  background-size: cover;
//  margin-left: .75em;
//  transition: 0.2s;
//}

summary::after {
  color: @white;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 10px;
  padding-right: .6em;
  content: " [Show]";
}

details[open] > summary::after {
  content: " [Hide]";
}
//Summary END

#theme_toggle_image_top
{
  content:url("https://lukas.read-books.org/nextcloud/index.php/s/Rncm8TmeBQLXjkT/preview");
}







