@import "variables.less";


@green1: #7bb092;
@green2: #a6b07b;
@green3: #c7e5b1;
@brown: #917223;
@black: #000000;

// nav / footer border
@nav-border-color: fade(@green2, 0%);
@footer-border-color: @black;

// Links
@link-color: @green2;
@link-hover-color: @green1;

// Tag cloud
@tag-bg: fade(@green2, 80%);
@tag-hover-color: fade(@green1, 44%);

// Buttons
@btn-bg: fade(@green2, 80%);
@btn-hover-color: fade(@green1, 44%);

//@body-bg: #cce5ff;
//@body-bg: #cdffff;
//@body-bg: #cdffd5;
//@body-bg: #dfffcd; // #dfffcd That's pretty solid :)

@body-bg: #f9f5d7; // That's anubis light theme :)
@sidebar-bg: @body-bg;

@github-bg-color: Transparent ~'!important';
@youtube-bg-color: Transparent ~'!important';


aside div img {
  border-radius: unset ~'!important';
  /* Use color #f9f5d7 aka: @body-bg: LINK: https://angel-rs.github.io/css-color-filter-generator/ */
  //filter: brightness(0) saturate(100%) invert(94%) sepia(5%) saturate(848%) hue-rotate(7deg) brightness(104%) contrast(95%);
}

hr {
  background-color: transparent ~'!important';
}

main {
  article {
    img {
      border-radius: 25px;
      //border: 5px solid @link-color;
      box-shadow: 0 0 5px fade(black, 71%) ~'!important';
    }

    img:hover {
      box-shadow: 0 0 30px fade(black, 71%) ~'!important';
    }
    video {
      border-radius: 25px;
      //border: 5px solid @link-color;
      box-shadow: 0 0 5px fade(black, 71%) ~'!important';
    }

    video:hover {
      box-shadow: 0 0 30px fade(black, 71%) ~'!important';
    }
  }
}

main nav {
  border-bottom-color: @nav-border-color;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-mobile {
      display: unset;
}
.nav-full {
      display: none;
}

@media screen and (min-width: 768px) {
    .nav-mobile { 
        display: none;
    }
    .nav-full {
      	display: unset;
    }
    aside {
    	border-right: unset;
    }
    main footer p {
    	max-width: 760px;
    }
}
main nav div a {
	display: flow!important;
	padding-bottom: 10px;
}

main article a {
  font-weight: bolder;
  font-size: 1.1em;
  text-decoration: underline
}

.tag-cloud a {
  text-decoration: unset;
}

h1, h2, h3, h4, h5, h6 {
  a {
  	text-decoration: unset ~'!important';	
  }
}

aside {
  color: @black ~'!important';
}

aside a {
  color: @black ~'!important';
}

aside a:hover {
  color: @green3 ~'!important';
}

@media screen and (min-width: 768px) {
    aside {
    	border-right: solid ~'!important';
    	border-right-width: 1px ~'!important';
  	border-right-color: @footer-border-color ~'!important';
  	border-right: solid;
    }
}


/*Code Block > START */
.highlight {
  background: transparent ~'!important';
}

blockquote {
  background-color: transparent ~'!important';
}

blockquote, pre {
  border-left: 8px solid @sidebar-bg ~'!important';
}

pre {
  background-color: transparent ~'!important';
  border-left-color: transparent ~'!important';
}

/*This is for the ` ` code*/
:not(pre) > code {
  color: black ~'!important';
  background-color: #f1ff90 ~'!important';
}

/*Code Block > END */

/*Stork Search START*/
.stork a:link,
.stork a:visited {
  color: @white ~'!important';
}

.stork-output-visible {
  border: 1px solid @white ~'!important';
  background-color: @green2 ~'!important';
}

.stork-input {
  color: @white;
  background-color: @green1;
  border: 1px solid @white ~'!important';
}

.stork-excerpt-container {
  color: @white;
}

.stork .stork-close-button {
  background-color: transparent;
  color: @white ~'!important';
}

/*Stork Search END*/


//Summary START
summary::marker {
  color: @btn-text-color;
  font-size: 1.2em;
}

//summary:hover {
//  background-color: @btn-hover-color;
//}

details[open] > summary {
  background-color: @btn-hover-color;
}

summary {
  display: inline flow-root list-item;
  padding: 0.1em 0.1em 0.1em 0.8em;
  background-color: @btn-bg;
  color: @btn-text-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border: none;
  border-radius: .25em;
  margin-bottom: 20px;
  font-size: 0.8em;
}

//summary::after {
//  content: '';
//  width: 20px;
//  height: 20px;
//  background: url('https://lukas.read-books.org/nextcloud/index.php/s/wL4cqnFKff5ZcNB/preview') no-repeat;
//  //color: @green1;
//  background-size: cover;
//  margin-left: .75em;
//  transition: 0.2s;
//}

summary::after {
  color: @white;
  font-size: 0.8em;
  font-style: italic;
  padding-left: 10px;
  padding-right: .6em;
  content: " [Show]";
}

details[open] > summary::after {
  content: " [Hide]";
}

//Summary END

#dark-theme-btn {
    display: inherit;
}

#light-theme-btn {
    display: none;
}


footer p {
    font-size: inherit ~'!important';
}

#cookie-consent-popup {
  color: @text-color;
  background-color: Transparent;
  backdrop-filter: blur(5px);
  border-top: 2px solid @link-color;
  border-left: 2px solid @link-color;
}

#cookie-consent-popup a {
  color: @link-color;
  text-decoration: underline;
}

#cookie-consent-popup a:hover {
  color: @link-hover-color;
}

#cookie-consent-popup a.btn {
   text-decoration: none;
   color: @btn-text-color;
}

#cookie-consent-popup a.btn:hover {
   color: @btn-text-color;
}




