{% if not PLUGINS or 'seo' not in PLUGINS or 'pelican.plugins.seo' not in PLUGINS %}
  {% if OG_LOCALE %}
    {% set default_locale = OG_LOCALE %}
  {% else %}
    {% set default_locale = 'en_US' %}
  {% endif %}
  <meta property="og:site_name" content="{{ SITENAME }}">
  <meta property="og:type" content="blog">
  <meta property="og:title" content="{{ SITENAME }}">
  <meta property="og:description" content="{{ SITEDESCRIPTION }}">
  <meta property="og:locale" content="{{ default_locale }}">
  <meta property="og:url" content="{{ SITEURL }}">
  {% if DEFAULT_OG_IMAGE %}
  <meta property="og:image" content="{{ DEFAULT_OG_IMAGE }}">
  {% endif %}
    {{ CUSTOM_META_TAGS }}
{% endif %}
